{% extends 'base.html.twig' %}
{% block body %}
    <h2>Liste des Candidats| <small> <a href="{{ path('add_candidate')}}">Ajouter Candidat</a>
        </small></h2>
    <table class="table table-hover table-striped" border="1">
        <thead>
        <tr>
            <th>#</th>
            <th>Nom & Prenom</th>

            <th>Date</th>
            <th>Contenu</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for candidat in lesCandidats %}
            <tr>
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.candidat | upper}} </td>
                <td>{{ candidat.date | date('d/m/Y')}} </td>
                <td>{{ candidat.contenu }}</td>
                <td>
                    <a class="btn btn-primary" href="#">voir</a>
                    <a class="btn btn-success" href="#"> Modifier</a>
                    <a class="btn btn-danger" href="#">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}